header{
    height: 80px;
    border: 1px solid blue;
}
main{
    height: 1000px ;
    border: 1px solid black;
}
.arror{
    background: wheat;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height:  300px;
    box-align: end;
    position: absolute;
    right: 450px;
    top: 150px;
    font-size: 4em;
}